.products-container {
  margin-top: 6rem;
}

.products-filter {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.products-filter .btn {
  flex: 0 0 auto;
  height: auto;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}
